{
    "Keyword": [
        "choice", 
        "comment", 
        "config", 
        "default", 
        "depends on", 
        "endchoice", 
        "endif", 
        "endmenu", 
        "if", 
        "mainmenu", 
        "menu", 
        "menuconfig", 
        "option", 
        "prompt", 
        "range", 
        "select", 
        "source", 
        "visible"
    ]
}